body{
    background-color: cyan;
}
.gnome{
   
}
header{
    background-color:dimgray;
    
}
.one h1{
    color: darkgoldenrod;
}
header p{
    padding-left: 1000px;
}
.two{
    height: 400px;
    background-color: floralwhite;
}
.big{
    height: 400px;
    width: 100%;
}
    
.beauty{
   position: absolute;
    top:120px;
    left:30px;
    right: 85%;
}
.beauty h2{
    font-size: 30px;
}
.email{
    position: absolute;
    top:350px;
    left:30px;
}
.email p{
    text-decoration-line: overline;
    text-decoration-line: underline;
}
.three{
    background-color: floralwhite;
}
.details{
    background-color: darkslategray;
    margin-right: 1100px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    border: 5px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:15px;
}
.butt{
    height: 100px;
    width: 100px;
    border: solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-border-radius: 100%px;
-moz-border-radius: 100%px;
border-radius: 100%px;
}

.details p{
    font-size: 30px;
    text-align: center
}
/*
.editable{
    background-color: aliceblue;
}
.edit{
   padding-right: px;
}
.versatile{
   padding-left:200px;
}
.professional{
    padding-left: 600px;
}
*/
.fourr{
    background-color: floralwhite;
}
.phone{
   position: relative;
    padding-left: 70%;
}
.five{
    background-color: floralwhite;
}
.five h2{
    padding-left: 500px;
}
.shoes{
    position: relative;
}
    
    
    
    



    
